---
import logo from "@/assets/logo/logo_32.png";
import SearchPosts from "@/components/search-posts/search-posts.astro";
import { Image } from "astro:assets";
import ThemeController from "./theme-controller/theme-controller.astro";

const hideSearchPosts = Astro.url.pathname === "/";
---

<div class="navbar lg:min-h-22 lg:px-4 border-b-2 border-base-content/40">
  <div class="navbar-start">
    <a
      href="/"
      class="group flex-center gap-x-1 text-2xl font-shantell-sans font-medium"
    >
      <Image
        src={logo}
        alt="Logo"
        class="group-hover:rotate-360 transition duration-500"
      />
      <span class="hidden sm:inline">rhymbit</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {!hideSearchPosts && <SearchPosts />}
    </ul>
  </div>
  <div class="navbar-end">
    <ThemeController />
    <a
      href="/all-posts"
      class="btn btn-ghost text-xl font-bold font-shantell-sans">All Posts</a
    >
  </div>
</div>
