---
import SearchPosts from "@/components/search-posts/search-posts.astro";
import { Icon } from "astro-icon/components";

const hideSearchPosts = Astro.url.pathname === "/";
---

<div class="navbar bg-neutral lg:px-4">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">My Blog</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {!hideSearchPosts && <SearchPosts />}
    </ul>
  </div>
  <div class="navbar-end">
    <a href="/all-posts" class="btn btn-ghost">All Posts</a>
  </div>
</div>
