@import "tailwindcss";
@plugin './plugins/fluid-typography-plugin.ts';
@plugin './plugins/additional-styles-plugin.ts';
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-xs: 370px; /* Tiny Phones */
  --breakpoint-sm: 640px; /* Phones, like smaller phones */
  --breakpoint-md: 768px; /* Large Phones & Small Tablets */
  --breakpoint-lg: 1024px; /* Tablets */
  --breakpoint-xl: 1280px; /* Laptops & Desktop Monitors */
  --breakpoint-2xl: 1536px; /* Desktop Monitors & Large Monitors */
  --breakpoint-3xl: 1920px; /* Large Monitors */
  --breakpoint-4xl: 2560px; /* 4K Screens & TVs */
  --breakpoint-5xl: 3700px; /* Large 4K Screens & TVs */

  --font-noto-sans: "Noto Sans", sans-serif;
}

@plugin "daisyui" {
  themes: black --default;
}
