---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
  prevPost?: boolean;
};

const { post, prevPost = true } = Astro.props;
---

<a
  href={`/${post.id}`}
  class="h-full card min-w-70 max-w-sm bg-secondary/10 hover:-translate-y-1 transition-transform duration-300 shadow-sm shadow-base-content/20"
>
  <div class="card-body flex flex-row justify-around items-center">
    {
      prevPost && (
        <div class="-rotate-90">
          <Icon name="middle-finger" class="text-h3" />
        </div>
      )
    }
    <div>
      <h2 class="card-title text-p">{post.data.title}</h2>
      <p>{post.data.description}</p>
    </div>

    {
      !prevPost && (
        <div class="rotate-90">
          <Icon name="middle-finger" class="text-h3" />
        </div>
      )
    }
  </div>
</a>
