@import "tailwindcss";
@plugin '@/styles/plugins/fluid-typography-plugin.ts';

@plugin "daisyui" {
  themes: lofi --default, dark --prefersdark;
}

.search-posts-li {
  @apply w-full flex;
}

.search-posts-a {
  @apply w-full px-2 py-2 flex flex-col items-start gap-y-1 hover:bg-base-100 duration-150;
}

.search-posts-a-title {
  @apply text-sm lg:text-p font-bold;
}

.search-posts-a-description {
  @apply text-xs xl:text-sm text-pretty max-h-8 xl:max-h-15 overflow-ellipsis overflow-hidden;
}

.search-posts-a-tags {
  @apply p-0.5 px-1.5 bg-secondary/40 text-xs font-medium rounded-sm;
}
