---
import { Icon } from "astro-icon/components";

const links = {
  youtube: "https://youtube.com/@rhymbit",
  x: "https://twitter.com/rhymbit",
  github: "https://github.com/rhymbit",
  instagram: "https://instagram.com/rhymbit",
};
---

{
  Object.entries(links).map(([key, link]) => (
    <a
      href={link}
      target="_blank"
      class="group hover:-translate-y-1 duration-300"
      aria-label={key}
      rel="noopener noreferrer"
    >
      <Icon name={key} class="text-h4" />
    </a>
  ))
}
