---
import logo from "@/assets/logo/logo_48.png";
import SocialMediaLinks from "@/components/social-media-links/social-media-links.astro";
import { Image } from "astro:assets";
---

<footer
  class="footer sm:footer-horizontal border-t-2 border-base-content/40 items-center p-4"
>
  <aside class="group grid-flow-col flex flex-col space-y-4 select-none">
    <div class="flex-center gap-x-1">
      <Image src={logo} alt="Logo" class="group-hover:rotate-360 transition duration-500" />
      <p class="text-h3 md:text-h5 font-shantell-sans font-medium">rhymbit</p>
    </div>
    <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <SocialMediaLinks />
  </nav>
</footer>
