---
import BaseHeader from "@/headers/base-header.astro";
import "@/styles/global.css";
import type { HTMLAttributes } from "astro/types";
import "@/styles/fonts/font-noto-sans.css";
import '@/styles/fonts/font-shantell-sans.css';
import Navbar from "@/components/layout/navbar/navbar.astro";
import Footer from "@/components/layout/footer/footer.astro";

interface Props extends HTMLAttributes<"body"> {
  title?: string;
}

const { title, class: className, ...attrs } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="header">
      <BaseHeader
        title={title ?? "rhymbit"}
        description="A blog by rhymbit"
      />
    </slot>
  </head>

  <body class={`min-h-screen ${className}`} {...attrs}>

    <Navbar />
      <slot />
    <Footer />
  </body>
</html>

<style is:global>

  :root {
    font-family: "Noto Sans", sans-serif;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
</style>
